fastapi
uvicorn[standard]
python-multipart
pydantic
psycopg2-binary
passlib[bcrypt]
python-jose[cryptography]
python-gvm
reportlab
pyotp
qrcode[pil]
google-generativeai
fastapi-mail
zaproxy
sonarqube-api-client
Authlib
APScheduler
pytest
pytest-cov
httpx
